<!-- <div class="container-fluid thenav">
  <div class="row">
    <div class="col-8">
      LOGO
    </div>
    <div class="col-4 row align-items-center">
        <div class="col" *ngIf="!loggedIn">
          <a routerLink="" [class.activated]='currentUrl == "/"'>Home</a>
        </div>
        <div class="col" *ngIf="!loggedIn">
          <a routerLink="login" [class.activated]='currentUrl == "/login"'>Login</a>
        </div>
        <div class="col" *ngIf="!loggedIn">
          <a routerLink="register" [class.activated]='currentUrl == "/register"'>Register</a>
        </div>
        <div class="col" *ngIf="loggedIn">
          <a routerLink="dashboard" [class.activated]='currentUrl == "/dashboard"'>Dashboard</a>
        </div>
        <div class="col" *ngIf="loggedIn">
          <a routerLink="" [class.activated]='currentUrl == "/"' (click)="logOut()">Logout</a>
        </div>
    </div>
  </div>
</div> -->

<nav class="navbar fixed-top navbar-expand-md sticky-top navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngIf="!loggedIn">
        <a routerLink="" [class.activated]='currentUrl == "/"'>Home</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a routerLink="login" [class.activated]='currentUrl == "/login"'>Login</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a routerLink="register" [class.activated]='currentUrl == "/register"'>Register</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a routerLink="dashboard" [class.activated]='currentUrl == "/dashboard" || currentUrl == "/dashboard/engine" || currentUrl == "/dashboard/history"'>Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a routerLink="" [class.activated]='currentUrl == "/"' (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>