#chartVehicle {
    width: 70%;
    margin: auto;
}
#chartDrowsiness {
    width: 70%;
    margin: auto;
}

#canvasVehicle{
    width: 100%;
    height: 100%;
}

#canvasDrowsiness{
    width: 100%;
    height: 100%;
}