<h1 style="text-align:center">
  Login
</h1>

<div *ngIf="!loginStatus" style="text-align:center">
  Incorrect Email ID or Password
</div>

<div class="container">
  <form [formGroup]="rForm">
    <div class="form-container">
      <div class="row columns">
        <label>Email
          <input formControlName="email" type="text">
        </label>
        <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
          Incorrect Email format!
        </div>

        <label>Password
          <input formControlName="password" type="password">
        </label>
        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
          Password required
        </div>

        <a class="button expanded" (click)="submitForm(rForm.value)">Login</a>
      </div>
    </div>
  </form>
</div>