<h1 style="text-align:center">
  Dashboard
</h1>

<div>
  Device1 : {{ deviceList[0] }}
</div>
<div>
  Device2 : {{ deviceList[1] }}
</div>

<div>
  <button (click)="start()">START</button>
</div>
<div>
  <button (click)="stop()">STOP</button>
</div>
<div>
  <button (click)="getDevices()">Get Devices</button>
</div>
<div>
  <button (click)="capture()">Capture</button>
</div>

<div>
  <video #frontVideoElement width="200" height="300" autoplay></video>
  <video #rearVideoElement width="200" height="300" autoplay></video>
</div>

<div>
  <canvas #frontCanvasElement width="200" height="300"></canvas>
  <ul>
      <li *ngFor="let c of frontImages">
        <img src="{{ c }}" height="100" />
      </li>
  </ul>
</div>

<div>
    <canvas #rearCanvasElement width="200" height="300"></canvas>
    <ul>
        <li *ngFor="let c of rearImages">
          <img src="{{ c }}" height="100" />
        </li>
    </ul>
  </div>

<div>
  Status : {{ status }}
</div>