<h1 style="text-align:center">
  Dashboard
</h1>

<div>
  <button (click)="start()">START</button>
</div>
<div>
  <button (click)="stop()">STOP</button>
</div>
<div>
  <button (click)="capture()">Capture</button>
</div>

<div>
  <video #frontVideoElement width="200" height="300" autoplay></video>
  <video #rearVideoElement width="200" height="300" autoplay></video>
</div>

<div>
  <canvas #frontCanvasElement width="200" height="300"></canvas>
  <ul>
      <li *ngFor="let c of frontImages">
        <img src="{{ c }}" height="100" />
      </li>
  </ul>
</div>

<div>
    <canvas #rearCanvasElement width="200" height="300"></canvas>
    <ul>
        <li *ngFor="let c of rearImages">
          <img src="{{ c }}" height="100" />
        </li>
    </ul>
  </div>

<div>
  Status : {{ status }}
</div>

<h2>Stores</h2>
<ul>
  <li *ngFor="let store of data">
    <h3>
      {{ store.name }}
    </h3>
    <ul>
      <li *ngFor="let item of store.items">
        {{ item.name }}, {{ item.price }}
      </li>
    </ul>
  </li>
</ul>

<h3>My Wonderful Store</h3>
<ul>
  <li *ngFor="let item of dataName">
    {{ item.name }}, {{ item.price }}
  </li>
</ul>