<div class="container-well mt-5 pt-5 mb-5 pb-5">
    <div class="container-well mt-1 pt-1 appName">
        DRIVE AI
    </div>
    <div class="container text-center appDesc">
        THE WAY IT'S MEANT TO BE DRIVEN
    </div>
</div>


<div class="container mt-5 pt-5 mb-5 pb-5">
    <div class="card-deck mt-5 pt-5 mb-5 pb-5">
        <div class="card">
            <img src="https://i.ibb.co/rbwf0Cy/drowsiness.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Drowsiness Detection</h5>
                <p class="card-text">Detects for any sign of drowsiness and sends an alert to warn the driver.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://i.ibb.co/QQCPrF7/expression.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mood Music</h5>
                <p class="card-text">Plays music based on the driver's mood or expression.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://i.ibb.co/5GK3mbF/vehicle.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Object Detection</h5>
                <p class="card-text">Detects nearby people and vehicles like car, bus, truck, bicycle, etc. and sends
                    an alert to warn the driver.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="contianer-well mt-5 pt-5 mb-5 pb-5">

</div>


<div class="contianer-well mt-5 pt-5 mb-5 pb-5">

</div>